

.section1Background{
    background-image:  url('Section1Background.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 800px;
    padding: 0% !important;
    position: fixed;
    width: 100%;

}

.section1Heading{
    padding-top: 9.5%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 130px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #4d4d4d;
    font-family: "Bebas";
    text-align: center;
    margin: 0% !important;
}

.section1Heading2{
    font-size: 130px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #414f6b;
    font-family: "Bebas";
    text-align: center;
    margin: 0% !important;

}


.section1LogoMenu{
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0.25%;
}

.section1LogoMenuItem{
    display: flex;
    justify-content: space-between;
    width: 15%;
}

.section1LogoMenuItemStyle{
    font-size: 12px;
letter-spacing: 1px;
line-height: 20px;
text-transform: uppercase;
color: #fefeff;
font-weight: 900;
font-style: italic;
font-family: "Lato";
text-decoration: underline;
}

.section2{
    border: 2px solid red;
}